<div class="modal-header headerDetail" >
    <h3 class="modal-title">{{modal.carData.shortDescription}}</h3>
</div>
<div class="modal-body descCar" >
    <img ng-src="{{modal.carData.imageUrl}}" class="imgBigCar"/> <span>{{modal.carData.fullDescription}}</span>
    <p class="layout-align-gt-lg-space-between">Price :{{modal.carData.price|currency}}</p>
      
</div>
<div class="modal-footer footerDetail">
    
    <sm-button ng-click="modal.closeDialog()" class="sm-raised">X</sm-button>
    
</div>

